.tweet {
  background: #686de0;
  border-radius: 10px;
  padding: 8px;
  width: fit-content;
  min-width: 200px;
}

.tweet h3 , p {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

.tweet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.tweet .delete {
  background: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.tweet-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 8px;
  margin-bottom: 32px;
}